/* hw 1 */

/* from lab 1 */

body {
    background-color: black;
    color: gray;
}

h1, header {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0;
}

header {
    height: 1.5rem;
    top: 0;
}

nav {
    height: 1.5rem;
    padding-top: 4.25rem;
}

header, main, nav, footer {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 2.5rem;
    margin: 0 5%;
}

article {
    display: inline-block;
    margin: 30px 2% 0 2%;
}


article section ul {
    list-style-position: inside;
    padding-left: 0;
}

article section, cite {
    width: 65%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: .5rem;
}

article pre {
    text-align: initial;
    font-size: 1.25em;
}

article figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article figure img {
    max-width: 65%;
}

.invert {
    filter: invert(60%);
}

nav a {
    padding: 15px 15px 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

footer {
    font-size: smaller; /* text smaller */
    color: chartreuse; /* different color (your choice) */
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding-top: 2.5rem;

}

/* nav: current page should stand out */
nav #current-page {
    color: chartreuse;
    font-weight: bold;
}

nav a:hover {
    color: chartreuse;
    text-decoration: underline chartreuse;
}

div, table {
    margin: 0 auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351A00;
}

.table-row {
    background-color: #753900;
}

ul {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.hobby {
    color: yellow;
}