<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>

    <title>Graph Databases — Overview</title>
</head>
<body>
<header>Graph Databases — Overview</header>

<% include partials/nav %>

<main>
    <article>
        <cite>article source: <a href="https://en.wikipedia.org/wiki/Graph_database">wikipedia.org</a></cite>
        <section>
            A Graph Database (obviously) uses graph structures to allow for semantic queries. Graph databases are a form
            of NoSQL databasing that was created to be useful beyond the limitations of relational approaches. However,
            Graph Databases can be a natural fit for storing application data for a wide variety of software.
            A Graph has nodes, edges and properties to represent the information stored within it.
        </section>
        <figure>
            <img class="blend" src="/img/small_directed_network_labeled.png" alt="Graph"/>
            <figcaption>A Graph <br/><cite>image from: <a
                    href="https://mathinsight.org/definition/directed_graph">
                mathinsight.org</a></cite></figcaption>
        </figure>
        <section>
            The data items that a graph database works with are collections of nodes and edges. The edges link
            properties or relationships between nodes. The nodes represent entities within the database.
            The graph model explicitly arranges the dependencies between data-nodes. Relational databases and other
            NoSQL approaches link data using implicit connections. By design, graph databases allow simple and quick
            querying of complex data structures. Graph databases can be visualized clearly because of their network-like
            arrangement.
        </section>
    </article>
</main>

<% include partials/footer %>

</body>
</html>