/* hw 1 */

/* from lab 1 */

body {
    background-color: rgba(100, 100, 100, 80);
    color: rgba(9, 9, 9, .80);
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
}

.current {
    font-weight: bolder;
    filter: invert();
}

hr {
    height: 2px;
    color: rgba(9, 9, 9, .5);
    background-color: rgba(9, 9, 9, .5);
    border: none;
}

h1, header {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0;
}

header {
    height: 1.5rem;
    top: 0;
}

nav {
    height: 1.5rem;
    padding-top: 4.25rem;
    font-family: 'Titillium Web', sans-serif;
}

header, main, nav, footer {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 2.5rem;
    margin: 0 5%;
}

article {
    display: inline-block;
    margin: 30px 2% 0 2%;
}


article section ul {
    list-style-position: inside;
    padding-left: 0;
}

article section, cite {
    width: 65%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: .5rem;
}

article pre {
    text-align: initial;
    font-size: 1.25em;
}

article figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article figure img {
    max-width: 65%;
}

.csumblogo, .blend {
    /*mix-blend-mode: color-burn;*/
    filter: invert() brightness(12%);
}

.burn {
    mix-blend-mode: difference;
}

nav a {
    padding: 15px 15px 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: rgba(222, 222, 222, 80);
}

footer {
    font-size: smaller; /* text smaller */
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding-top: 2.5rem;

}

/* nav: current page should stand out */
nav #current-page {
    color: chartreuse;
    font-weight: bold;
}

nav a:hover {
    color: chartreuse;
    text-decoration: underline chartreuse;
}

div, table {
    margin: 0 auto;
}

td, th {
    padding-right: 10px;
    font-size: 1.3em;
    text-align: center;
}

td strong {
    color: orange;
}

main a {
    font-weight: bolder;
    font-size: 1.2em;
    mix-blend-mode: difference;
}

#table-header {
    font-weight: bolder;
    font-size: 1.3em;
    color: rgba(9, 9, 9, .80);
    background-color: darkgray;
}

.table-row {
    color: rgba(9, 9, 9, .80);
    background-color: lightgray;
    font-weight: lighter;
}

ul {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.review {
    margin-bottom: 2em;
    font-size: 1.5em;
}